<div class='container'>
  <div class='box'>
      <h1>Your articles</h1>
  <ul class = 'list'>
    <%@articles.each do |article|%>
      <li><%= link_to article.title, article_path(article)%></li>
    <%end%>
  </ul>
  </div>
</div>
